<!DOCTYPE html>
<html>
<head>
    <title>Knight Simluation</title>
    <style>

        .board {
            display: grid;
            grid-template-columns: repeat(8, 50px); 
            grid-template-rows: repeat(8, 50px);
        }
        .square {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #000;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <h1>Knight Simluation</h1>
        <h1>Set XYZ Values</h1>
        <h2>current location: ({{sendx}},{{sendy}}) total time: {{totaltime}} minutes</h2>
    <form action="" method="get">
        <label for="x">Enter X Value:</label>
        <input type="number" id="x" name="x" required>
        <br> 
        <label for="y">Enter Y Value:</label>
        <input type="number" id="y" name="y" required>
        <br> 
        <label for="z">Enter Z Value:</label>
        <input type="number" id="z" name="z" required>
        <br> 
        <label for="time">Enter minutes to wait at square you land on:</label>
        <input type="number" id="time" name="time" required>
        
        <button type="submit">Enter</button>
    </form>
    <div class="board">
        {{#each reversedBoard}}
            {{#each this}}
                <div class="square">{{this}}</div>
            {{/each}}
        {{/each}}
    </div>
</body>
</html>
